@import '../../styles/colors';

.idea-muscle-dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebeef4;
    padding-top: 30px;
    min-height: 100vh;
    padding-bottom: 100px;
}

.idea-muscle-session-starter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-width: 350px;
    min-height: 100px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: $spacegray;

    button {
        border: none;
        color: white;
        border-radius: 5px;
        background-color: $hotpink;
        padding: 10px 20px 10px 20px;
        font-size: 1.3em;
        margin: 20px 0px 20px 0px;
    }
}